.container {
  display: flex;
  height: 100vh;
  background-color: #fff;
  color: #000;
}

.sidebar {
  flex: 0 0 200px;
  padding: 1rem;
  background-color: #f5f5f5;
}

.content {
  flex: 1 1 auto;
  padding: 1rem;
}

.content h2 {
  margin-bottom: 1rem;
}

.content form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #000;
}

.content form input,
.content form textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #000;
}

.content form button {
  padding: 0.5rem 1rem;
  background-color: #f5f5f5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #000;
}

.content form button:hover {
  background-color: #e0e0e0;
}

.content form button:active {
  background-color: #d0d0d0;
}



.whiteBackground {
  background-color: #fff;
}

.blackText {
  color: #000;
}

.menuList {
  list-style: none;
  padding-left: 0;
}


/**/

.container {
  display: flex;
  height: 100vh;
  background-color: #fff;
  color: #000;
}

.sidebar {
  flex: 0 0 200px;
  padding: 1rem;
  background-color: #f5f5f5;
}

.content {
  flex: 1 1 auto;
  padding: 1rem;
}

.columnsContainer {
  display: flex;
  gap: 1rem;
}

.column {
  flex: 1 1 0;
  padding: 1rem;
  background-color: #f5f5f5;
}

.task {
  background-color: #e0e0e0;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.task:hover {
  background-color: #d0d0d0;
}

.formInput {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.formButton {
  padding: 0.5rem 1rem;
  background-color: #f5f5f5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.formButton:hover {
  background-color: #e0e0e0;
}

.formButton:active {
  background-color: #d0d0d0;
}

.whiteBackground {
  background-color: #fff;
}

.blackText {
  color: #000;
}

.menuList {
  list-style: none;
  padding-left: 0;
}


/**/
.homeContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #000;
  color: #fff;
  padding: 2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navbarTitle {
  font-size: 2rem;
  font-weight: bold;
}

.navbarButton {
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: #fff;
  color: #000;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.navbarButton:hover {
  background-color: #e0e0e0;
}

.main {
  text-align: center;
  margin: 2rem 0;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.largeText {
  font-size: 24px;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  /* Otros estilos adicionales si lo deseas */
}

.footer {
  margin-top: auto;
  padding-top: 2rem;
  text-align: center;
}

